@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgb(0, 255, 213), rgb(200, 0, 255));
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(195, 74, 252); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9809a5; 
  }
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: #71b7e6; */
    
}

.navbar .home{
    margin-left: 10px;
}

.navbar .home a{
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
}

.navbar .profilePic {
    margin-right: 10px;
}

.navbar .profilePic img{
    border-radius: 50%;
}

/* css of register */
.main{
    margin-top: 70px;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.226);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(186, 21, 252);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus, .user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

#err{
    color: rgb(241, 89, 89);
}

/* Home page CSS */
.homePage{
    margin: 0px 0px 0px 0px ;
    padding: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    height: 100vh;
}


.homePage .content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.homePage .content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media (max-width: 692px) {
    .homePage {
        display: flex;
        flex-direction: column;
        height: 1200px;
        width: 100%;
    }
    .homePage .content-left {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .homePage .content-right {
        width: 100%;
    }
    .homePage .content-left .square {
        width: 100%;
        height: 500px;
        margin: 0px auto;
        background: rgba(200, 47, 247, 0.849);
        border-radius: 2px;
    }
    
}

.homePage .content-left .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(49, 238, 191);
    position: relative;
    top: 12%;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    opacity: 0.75;
}

.homePage .content-left .square{
    width: 40vw;
    height: 40vh;
    margin: 0px auto;
    background: rgba(200, 47, 247, 0.849);
    border-radius: 2px;
}

.homePage .content-left .circle1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(49, 238, 191);
    position: relative;
    bottom: 12%;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    opacity: 0.75;
}

.homePage .content-right a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.homePage .content-right .btn{
    width: 200px;
    height: 40px;
    background: rgb(205, 74, 245);
    border: none;
    
    border-radius: 20px;
}

.event-container{
    width: 100%;
    height: 100%;
    margin-top: 0%;
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 592px){
    .event-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

}

.event-container-left{
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 5px;
    border: 2px solid white;
    height: 85%;
    width: 100%;
    overflow-y: auto;
}
.event-container-right{
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 5px;
    border: 2px solid white;
    height: 70%;
    width: 100%;
}

.inputField{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

#msg{
    color: rgb(27, 7, 145);
}

/* Card CSS */
.card{
    width: 80%;
    border: 2px solid white;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgba(10, 241, 68, 0.404);
}

.card h3, h4{
    margin-left: 15px;
}

.homePage .content-left .square .txt{
    height: 100%;
    width: 70%;
    float: right;
}

.homePage .content-left .square .txt h2{
    margin-top: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.homePage .content-left .square .txt h3{
    margin-top: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.success{
    color: rgb(2, 100, 2);
    float: right;
    margin-right: 10px;
    font-weight: 800;
}

.fail{
    color: red;
    float: right;
    margin-right: 10px;
    font-weight: 800;
}